html{
  height: 100vh;
  background-image: url('band.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.keys{
  position: relative;
  top: 30px;
  text-align: center;
}

.key{
  display: inline-block;
  padding: 30px;
  border :3px solid black;
  width: 45px; height: 45px;
  position: relative;
  margin:10px;
  border-radius: 5px;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

kbd{
  font-size: 40px;
  position: relative;
  bottom: 5px;
}

.audiotype{
  font-size: 12px;
  color: yellow;
  font-family: monospace;
}

.playing{
  transform: scale(1.5);
  opacity: 1;
  text-shadow:  0px 0px 10px yellow;
  box-shadow: 3px 3px 50px yellow;
  border-color: yellow;
}
